{% import_yaml 'teamspeak/defaults.yaml' as defaults %}
{% import_yaml 'teamspeak/osmap.yaml' as osmap %}

{# get the settings for the os_family grain #}
{% set osfam = salt['grains.filter_by'](osmap) or {} %}

{# merge the os family/codename specific data over the defaults #}
{% do defaults.teamspeak.update(osfam) %}

{# merge the pillar:lookup dict into the defaults/os specific dict #}
{% set lookup = salt['pillar.get']('teamspeak:lookup',
                                   default=defaults.teamspeak,
                                   merge=True) %}

{# merge the actual teamspeak pillar into the above combined dict #}
{% set teamspeak = salt['pillar.get']('teamspeak', default=lookup, merge=True) %}
